---
layout: default
---

{% for post in paginator.posts %}
<!-- main articles -->
<h2 class="text-right">
  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
</h2>
<h4 class="text-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></h4>
        {% if post.description %}
            {{ post.description | strip_html | strip_newlines | truncate: 250 }}
            <p align="right"><a class="btn" href="{{ post.url | prepend: site.baseurl }}">Read more »</a></p>
            {% include tags.html %}
        {% else %}
            {{ post.content | strip_html | strip_newlines | truncate: 250 }}
            <p align="right"><a class="btn" href="{{ post.url | prepend: site.baseurl }}">Read more »</a></p>
            {% include tags.html %}
        {% endif %}

<hr>
<!-- article ends -->
{% endfor %}

<ul class="pager">
  {% if paginator.previous_page %}
      <li class="previous"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer</a></li>
  {% endif %}
    {% if paginator.next_page %}
      <li class="next"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &rarr;</a></li>
  {% endif %}
</ul>
