<div class="col-xs-2 span3">
  <ul class="nav nav-list">
    <li class="nav-header">Menu</li>
    <li class="active">
      <a href="/">Home</a></li>
    <li>
      <a href="/about">About</a></li>
    <li class="nav-header">Tags</li>
    <br />
    <a href="#">资料</a>
    <a href="#">设置</a>
    <a href="#">帮助</a>
    <a href="#">资料</a>
    <a href="#">设置</a>
    <a href="#">帮助</a>
    <br />
    <br />
    <li class="nav-header">Links</li>
    <li><a href="#">资料</a></li>
    <li><a href="#">设置</a></li>
    <!--<li class="divider"></li>-->
    <li><a href="#">帮助</a></li>
  </ul>
</div>
